<h1>Greeter, <%=@name%></h1>
<p>Find me in app/views/greeter/hello.html.erb</p>
<p>The time is <%=formatted_time(@time)%></p>
<p>This page has been displayed: <%=@times_displayed%></p>

<p><%= link_to "Google", "http://www.google.com"%></p>
<p><%= link_to "Bye", greeter_goodbye_path%></p>
